{% extends 'authapp/base_user.html' %}
{% load static %}
{% comment %} {% load my_tags %} {% endcomment %}

{% block container %}
    <div class="users_list">
        {% for object in object_list %}
            {% if object.to_user == user %} 
                Запрос к вам в друзья
            {% else %}
                Ваш запрос     
            {% endif %} 
            <div class="product_record ">
                {% comment %} <img src="/media/{{ budget.image|default:'products_images/default.jpg' }}" alt="{{ budget.name }}"> {% endcomment %}
                <div class="product_name">
                    {{ object.from_user|title }}
                </div>
                <div class="product_actions">
                    {% if object.to_user == user %} 
                        <button>
                            <a href={% url 'auth:request_accepte' pk=object.pk %}>принять</a>
                        </button>
                    {% endif %}
                    <button>
                        <a href={% url 'auth:request_delete' pk=object.pk %}>удалить</a>
                    </button>
                </div>
                <div class="summary">
                    <b>дата</b>
                    <p>{{ object.date_request }} руб</p>
                    <b>пользователю</b>
                    <p>{{ object.to_user }}</p>
                </div>
            </div>
               
        {% endfor %}
    </div>
{% endblock %}