{% extends 'setbudgetapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="login">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        {% if update %}
            <a href="{% url 'set:basic_budget' object.pk %}"
                class="btn btn-primary form-control last">
                сделать основным
            </a>
        {% endif%}
        <a href="{% url 'set:index' %}"
           class="btn btn-primary form-control last">
            к бюджетам
        </a>
        <a href="{% url 'base:index' %}"
           class="btn btn-primary form-control last">
            На главную
        </a>
    </div>
{% endblock %}
