{% extends 'setbudgetapp/base.html' %}
{% load static %}


{% block container %}
    <div class="users_list">
        <a class="btn btn-primary new_user"
           href={% url 'set:source_create' pk%}>новый источник</a>
 
        {% for object in object_list %}
            <div class="product_record {% if not object.is_active %}not_active{% endif %}">
                <img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}">
                <div class="product_name">
                    {{ object.name_source|title }}
                </div>
                <div class="product_actions">
                    <button>
                        <a href={#% url 'set:details_view' pk=object.pk %#}>подробнее</a>
                    </button>
                    <button>
                        <a href={#% url 'new_admin:source_update' pk=object.pk %#}>редактировать</a>
                    </button>
                    <button>
                        <a href={#% url 'new_admin:source_delete' pk=object.pk %#}>удалить</a>
                    </button>
                </div>
                <div class="summary">
                    <b>сумма</b>
                    <p>{{ object.amount_source }} руб</p>
                    {% comment %} <b>количество</b>
                    <p>{{ object.quantity }}</p>
                </div>
                <div class="product_desc">
                    {{ object.short_desc|capfirst }}{% endcomment %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}