{% extends 'mainapp/base.html' %}
{% load static %}

{% block box %}

	<div class="splash-screen">
		{% include 'mainapp/includes/main_menu.html' %}
		<div class="text-splash-screen">
			<h3 class="big"> пользователь: {{ user.username|default:"пользователь"|title }}</h3>
			
			{% if not budget_exists %} 
				<p>У вас пока нет созданного бюджета, хотите создать бюджет?</p> 
				<a href="{% url 'set:budget_create' %}"
				class="button-order">создать бюджек<img src="{% static '/img/arrow.png' %}" alt=""></a>
			{% else %} 
				<h3 class="big"> Ваш основной бюджет: {{ total_amount }} руб</h3>
				<a href="{% url 'set:budget_create' %}"
				class="button-order">создать <img src="{% static '/img/arrow.png' %}" alt=""></a>
			
			{% endif %}
		</div>
	</div>

	{% comment %} 
	<div class="featured">		
		<div class="featured-menu">
			<a class="active" href="#">Популярные</a><a href="{% url 'base:products' %}">Новинки</a>
		</div>
		<a class="explore" href="{% url 'base:category' 0 %}">показать все <img src="{% static '/img/arrow.png' %}" alt=""></a>
		<div class="clearfix">
		</div>
		<div class="tab-content">
			<div class="block">
				<a href="#"><img src="{% static '/img/product-1.jpg' %}" alt="">
					<div class="text">
						<img src="{% static '/img/icon-hover.png' %}" alt="img">
						<h4>Отличный мяч</h4>
						<p>высокого качества. </p>
					</div>
				</a>
			</div>
			<div class="block">
				<a href="#"><img src="{% static '/img/product-2.jpg' %}" alt="">
					<div class="text">
						<img src="{% static '/img/icon-hover.png' %}" alt="">
						<h4>Баскетбольная экипировка</h4>
						<p>для спортсменов. </p>
					</div>
				</a>
			</div>
		</div>
	</div> {% endcomment %}

	{% comment %} <div class="description-text">
		<p>{{ request.headers }}</p>
	</div> {% endcomment %}

{% endblock  %}