{% extends 'mainapp/base.html' %}
{% load static %}

{% block box %}

	<div class="hero-white">
		{% include 'mainapp/includes/main_menu.html' %}
	</div>

	<div class="details">
		{% include 'mainapp/includes/catalog_menu.html' %}

		<div class="details-products">
			<div class="details-slider">
				<div class="slider-product">
					<img src="/media/{{ product_1.image }}">
				</div>
				{% comment %} <div class="slider-control">
					<div class="block">
						<a href="#"><img src="{% static '/img/controll.jpg' %}" alt="">
							<div class="text"></div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="{% static '/img/controll1.jpg' %}" alt="">
							<div class="text"></div>
						</a>
					</div>
				</div> {% endcomment %}
			</div>

			<div class="description">
				<h3 class="big-bold">Отличный товар</h3>
				<h3 class="red">горячее предложение</h3>
				<p class="price"> {{product_1.price}} <span>руб</span></p>
				<a href="{% url 'basket:add' product_1.pk %}" class="red-button">
					заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
				</a>
				<div class="description-text">
					{% for item in description %}
						<p>{{ item.description }}</p>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="related">
			<div class="title clearfix">
				<h2>Похожие продукты</h2>
				<a class="explore" href="#">показать все <img src="{% static '/img/arrow.png' %}" alt=""></a>
			</div>
			<div class="related-products clearfix">
				{% for item in same_products %}
                    <div class="block">
                        <a href="{% url 'base:product_page' item.pk %}">
                            <img src="/media/{{ item.image }}" alt="img">
                            <div class="text">
                                <img src="/static/img/icon-hover.png" alt="img">
                                <h4>{{ item.name }}</h4>
                                <p>{{ item.short_desc }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
